body {
  background-color: #d5f3f9;
}
a {
  color: pink;
}
main {
  padding: 30px 0;
}
.weather-app {
  background-color: rgb(28 71 83);
  max-width: 600px;
  margin: 45px auto;
  box-shadow: 5px 5px 15px;
  border-radius: 16px;
  padding: 30px;
}
header {
  border-bottom: 1px solid black;
  padding: 0 0 30px 0;
}
.search-form-input {
  background-color: #d5f3f9;
  border: none;
  width: 80%;
  padding: 20px;
  border-radius: 6px;
  font-size: 15px;
}
.search-form-button {
  background: #d5f3f9;
  padding: 20px 30px;
  border: none;
  border-radius: 6px;
  color: rgb(28 71 83);
  font-size: 14px;
  font-weight: 600;
  margin-left: 5px;
}
.search-form-button:hover {
  cursor: pointer;
  background: pink;
}
.weather-app-data {
  display: flex;
  justify-content: space-between;
  color: #d5f3f9;
}
.weather-app-city {
  margin: 0;
  font-size: 55px;
  line-height: 60px;
}
.weather-app-details {
  font-size: 17px;
  line-height: 20px;

  font-weight: 500;
}
.weather-app-details strong {
  color: pink;
  font-size: 20px;
}
.weather-app-temperature-container {
  display: flex;
}
.weather-app-icon {
  font-size: 35px;
  margin-top: 20px;
}
.weather-app-temperature {
  font-size: 70px;
  font-weight: bold;
  margin-left: 10px;
}
.weather-app-unit {
  margin-top: 10px;
  font-size: 25px;
}
footer {
  border-top: 1px solid black;
  padding: 30px 0 0 0;
  text-align: center;
  font-size: 14px;
  color: pink;
}
